
.p-0{padding:  0px;}
.p-1{padding: 10px;}
.p-2{padding: 20px;}
.p-3{padding: 30px;}
.p-4{padding: 40px;}
.p-5{padding: 50px;}

.pt-0{padding-top:  0px;}
.pt-1{padding-top: 10px;}
.pt-2{padding-top: 20px;}
.pt-3{padding-top: 30px;}
.pt-4{padding-top: 40px;}
.pt-5{padding-top: 50px;}


.pb-0{padding-bottom: :  0px;}
.pb-1{padding-bottom: : 10px;}
.pb-2{padding-bottom: : 20px;}
.pb-3{padding-bottom: : 30px;}
.pb-4{padding-bottom: : 40px;}
.pb-5{padding-bottom: : 50px;}

.pl-0{padding-left:  0px;}
.pl-1{padding-left: 10px;}
.pl-2{padding-left: 20px;}
.pl-3{padding-left: 30px;}
.pl-4{padding-left: 40px;}
.pl-5{padding-left: 50px;}

.pr-0{padding-right:  0px;}
.pr-1{padding-right: 10px;}
.pr-2{padding-right: 20px;}
.pr-3{padding-right: 30px;}
.pr-4{padding-right: 40px;}
.pr-5{padding-right: 50px;}

.m-0{margin:  0px;}
.m-1{margin: 10px;}
.m-2{margin: 20px;}
.m-3{margin: 30px;}
.m-4{margin: 40px;}
.m-5{margin: 50px;}

.mt-0{margin-top:  0px;}
.mt-1{margin-top: 10px;}
.mt-2{margin-top: 20px;}
.mt-3{margin-top: 30px;}
.mt-4{margin-top: 40px;}
.mt-5{margin-top: 50px;}


.mb-0{margin-bottom: :  0px;}
.mb-1{margin-bottom: : 10px;}
.mb-2{margin-bottom: : 20px;}
.mb-3{margin-bottom: : 30px;}
.mb-4{margin-bottom: : 40px;}
.mb-5{margin-bottom: : 50px;}

.ml-0{margin-left:  0px;}
.ml-1{margin-left: 10px;}
.ml-2{margin-left: 20px;}
.ml-3{margin-left: 30px;}
.ml-4{margin-left: 40px;}
.ml-5{margin-left: 50px;}

.mr-0{margin-right:  0px;}
.mr-1{margin-right: 10px;}
.mr-2{margin-right: 20px;}
.mr-3{margin-right: 30px;}
.mr-4{margin-right: 40px;}
.mr-5{margin-right: 50px;}

.border-none{border-style: none;}
.border-solid{border-style: solid;}
.border-dashed{border-style: dashed;}

.bg-green { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-footer-dark { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-footer-light { 
  background-color: #575e6d; /* White */
  color: #555555;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


.panel-primary>.panel-heading {
    background-color: #5fda88;
    background: -webkit-linear-gradient(Left,#17d059 0%,#00aded 100%);
    border-color: #5fda88;
    border: 1px solid #3ec253;
 }
.panel-primary {
    border-color: #33b744;
}
.nav.navbar-nav.navbar-right li a {
    color: #ff0000;
}
.nav.navbar-nav li a {
    color: #ffffff;
}

.navbar-header.navbar-brand{
  
}

.fusion-secondary-header {
    background: -webkit-linear-gradient(Left,#17d059 0%,#00aded 100%);
}